In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('jira_issues.csv')
df.describe()

,id,votes,watchers,assignee_id,reporter_id
count,701002.000000,701002.000000,701002.000000,523717.000000,699868.000000
mean,352376.484900,0.187228,0.966364,38641.554666,40119.609368
std,203295.495378,1.513667,2.138621,29196.158654,29784.106260
min,50.000000,0.000000,0.000000,51.000000,50.000000
25%,175680.250000,0.000000,0.000000,9813.000000,12277.000000
50%,352744.500000,0.000000,0.000000,31984.000000,33713.000000
75%,528526.750000,0.000000,1.000000,67498.000000,71160.000000
max,703962.000000,309.000000,221.000000,104729.000000,104735.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701002 entries, 0 to 701001
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              701002 non-null  int64
 1   created         701002 non-null  object
 2   description     637277 non-null  object
 3   key             701002 non-null  object
 4   priority        688283 non-null  object
 5   project         701002 non-null  object
 6   project_name    701002 non-null  object
 7   repositoryname  701002 non-null  object
 8   resolution      586058 non-null  object
 9   resolved        586084 non-null  object
 10  status          701002 non-null  object
 11  title           701002 non-null  object
 12  type            701002 non-null  object
 13  updated         701002 non-null  object
 14  votes           701002 non-null  int64
 15  watchers        701002 non-null  int64
 16  assignee_id     523717 non-null  float64
 17  reporter_id     699868 non-null  float64
dtypes: float64(2), int64(3), object(13)
memory usage: 96.3+ MB

In [4]:
for column in df.select_dtypes(include=['object']).columns:
    print(f"Unique values in column '{column}': {df[column].nunique()}")
    if df[column].nunique() < 10:
        print(df[column].value_counts())

Unique values in column 'created': 699797
Unique values in column 'description': 627476
Unique values in column 'key': 701002
Unique values in column 'priority': 6
priority
Major       462906
Minor       148119
Critical     32689
Blocker      23094
Trivial      19407
Optional      2068
Name: count, dtype: int64
Unique values in column 'project': 1238
Unique values in column 'project_name': 1245
Unique values in column 'repositoryname': 5
repositoryname
ASF          358669
JBOSS        168557
CODEHAUS     120390
SPRING        38476
HIBERNATE     14910
Name: count, dtype: int64
Unique values in column 'resolution': 24
Unique values in column 'resolved': 573214
Unique values in column 'status': 33
Unique values in column 'title': 685983
Unique values in column 'type': 41
Unique values in column 'updated': 651331

In [5]:
df.head()

,id,created,description,key,priority,project,project_name,repositoryname,resolution,resolved,status,title,type,updated,votes,watchers,assignee_id,reporter_id
0,509981,2006-09-08 17:41:16.982,A way to generate ebj/web projects with XDocle...,MECLIPSE-157,Major,MECLIPSE,Maven Eclipse Plugin,CODEHAUS,Duplicate,2007-03-14 06:36:43.842,Closed,xdoclet facet for xdoclet-enabled ejb/web proj...,Improvement,2007-03-14 06:36:43.836,0,1,9813.0,86730.0
1,509942,2013-06-19 18:44:57,"When a repository starts up, we attempt to reg...",MODE-1966,Major,MODE,ModeShape,JBOSS,Done,2013-06-19 23:58:50,Closed,Registering a repository in a read-only jndi c...,Bug,2013-10-24 17:18:09,0,2,553.0,553.0
2,509943,2013-06-17 22:11:16,Section 3.5.7.2 of the JSR-283 specification (...,MODE-1965,Critical,MODE,ModeShape,JBOSS,Done,2013-06-19 21:37:29,Closed,mixin types should not be allowed to inherit n...,Bug,2013-10-24 17:21:45,0,2,553.0,553.0
3,509944,2013-06-14 17:05:07,When property has been removed from node and t...,MODE-1964,Major,MODE,ModeShape,JBOSS,Done,2013-06-18 02:30:41,Closed,Connectors don't get removed properties in cha...,Bug,2013-10-24 17:19:02,0,3,553.0,86622.0
4,509982,2006-09-08 16:10:13.977,The plugin should support setting Eclipse's te...,MECLIPSE-156,Major,MECLIPSE,Maven Eclipse Plugin,CODEHAUS,Fixed,2009-10-15 16:26:55.851,Closed,Plugin should support setting file encoding,New Feature,2010-04-30 11:30:30.533,6,4,16391.0,75580.0

In [2]:
sample = pd.read_csv('sample_jira_issues.csv')
sample.head()

,key,summary,type,status,priority,assignee_id,created,updated,resolved,due
0,JIRA-1,Valid Story,Story,Open,High,alice,2025-12-01,2025-12-02,NaN,2025-12-20
1,JIRA-2,Valid Bug,Bug,Resolved,Medium,bob,2025-11-25,2025-12-01,2025-12-01,2025-12-10
2,JIRA-3,No Assignee Story,Story,In Progress,NaN,,2025-12-01,2025-12-03,NaN,2025-12-15
3,JIRA-4,No Priority Bug,Bug,Open,NaN,carol,2025-12-01,2025-12-02,NaN,2025-12-20
4,JIRA-5,Closed No Resolved,Bug,Closed,High,dave,2025-11-20,2025-12-01,NaN,2025-12-10

In [ ]:
from src.validation_pipelines import all_pipelines, run_pipeline
validate = run_pipeline(all_pipelines)
sample['errors'] = sample.apply(lambda row: validate(row), axis=1)
sample['errors'] = sample['errors'].apply(lambda errs: '; '.join(errs) if errs else '')

sample.head(10)

,key,summary,type,status,priority,assignee_id,created,updated,resolved,due,errors
0,JIRA-1,Valid Story,Story,Open,High,alice,2025-12-01,2025-12-02,NaN,2025-12-20,[]
1,JIRA-2,Valid Bug,Bug,Resolved,Medium,bob,2025-11-25,2025-12-01,2025-12-01,2025-12-10,[]
2,JIRA-3,No Assignee Story,Story,In Progress,NaN,,2025-12-01,2025-12-03,NaN,2025-12-15,"[Assignee must be a non-empty string., Assigne..."
3,JIRA-4,No Priority Bug,Bug,Open,NaN,carol,2025-12-01,2025-12-02,NaN,2025-12-20,[Priority must not be null.]
4,JIRA-5,Closed No Resolved,Bug,Closed,High,dave,2025-11-20,2025-12-01,NaN,2025-12-10,[Resolved date must not be null.]
5,JIRA-6,Resolved No Resolved,Bug,Resolved,Medium,erin,2025-11-25,2025-12-01,NaN,2025-12-10,[Resolved date must not be null.]
6,JIRA-7,In Progress No Assignee,Story,In Progress,High,NaN,2025-12-01,2025-12-03,NaN,2025-12-15,"[Assignee must be a non-empty string., Assigne..."
7,JIRA-8,Valid Epic,Epic,Open,Low,NaN,2025-12-01,2025-12-02,NaN,2025-12-20,[]
8,JIRA-9,Priority Not Null Epic,Epic,Open,High,NaN,2025-12-01,2025-12-02,NaN,2025-12-20,[]
9,JIRA-10,Created After Resolved,Bug,Resolved,High,alice,2025-12-05,2025-12-06,2025-12-01,2025-12-10,[Created date is after resolved date.]

In [9]:
a = sample.loc[3]
bool(a.get('priority', None))

True